* {
    margin: 0;
    padding: 0;
}


.pokedex-container{
    display: flex;
    width: 60vw;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
        
}

.pokdex-content-container{
    display: flex;
    align-items: center;
    background: rgba(51, 41, 41, 0.356);    
    border-radius: 20px;
    width: 250px;
    height: 250px;
    flex-wrap: wrap;
}

.pokdex-content-container:hover {
    transform: scale(1.05);
}

.poke-img-container{
    display: flex;
    width: 100%;
}

.poke-img-container img {
    margin: 0 auto;
    
}

.poke-text-container {
    width: 100%;
    text-align: center;
    margin: 0;
}

.poke-text-container h2{
    font-size: 1.5em;
    font-weight: bolder;
    text-transform: uppercase;
}

.poke-text-container p{
    font-size: 1.2em;
    font-weight: bold;
}

.input-search{
    margin: 30px;
    line-height: 50px;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.5em;
}